/* Write your code here. */
<<<<<<< HEAD

.normalthumbnail-image {
}
.normal {
  margin: 10px;
  opacity: 0.5;
}
.no-dot {
  list-style-type: none;
}
.border {
  border: none;
  background: none;
}
=======
>>>>>>> e9ecd4f616a0cd21ad4757474829e8e157dae5b8
